.maincontainer {
  --background: url(../../../assets/icon/home.jpg) no-repeat 0px -7px;
  --background-size: 100% 100%;
  --opacity: 1 !important;
  padding-top: 44px;
  --border-color: white !important;
  text-align: center !important;
}

.toolbar-row {
  align-items: center;
  height: 100%;
}

.toolbar-col {
  display: flex;
  align-items: center;
}

.second_col_img {
  text-align: center;
  display: flex;
  justify-content: center;
}

.SONY_mail_logo { width: 90px; }
ion-grid.ios.hydrated { height: 100%; }

.back-button {
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 50%;
  --font-weight: 200 !important;
  padding: 3px;
  --line-height: 10px !important;
  margin-top: 8px;
}

.back_link { color: black; cursor: pointer; }

ion-title.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  img { max-height: 40px; }
}

ion-content {
  --background: url(../../../assets/icon/home.jpg) no-repeat 0px -114px;
  --background-size: 100% 100%;
}

.custom-border-header {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid white;
}

/* Header, content, footer */
.heading-div {
  padding: 0px 20px;
  margin-top: 20px;
  h6.home-headings {
    color: #4B5098;
    font-family: SST;
    font-size: 20px;
    font-weight: bolder;
  }
}

/* Fields */
ion-select.custom-select {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-item {
  --highlight-color-focused: #4B54CF;
  --border-color: transparent;
  --padding-start: 0px;
  margin-bottom: 8px;
}

ion-label { font-weight: 500; }

ion-input {
  --padding-start: 8px;
  --padding-end: 8px;
}

.custom-input-item ion-input {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 8px;
}

.custom-input-item {
  --background: #ffffff00 !important;
  margin-right: -16px;
  margin-left: 0px;
  margin-top: 2px;
  margin-bottom: 10px !important;
}

ion-select.custom-select {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  --padding-start: 10px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  background: white;
}

ion-select::part(icon) { display: none !important; }
ion-select { --padding-end: 15px; }

.custom-select.fieldss {
  --padding-end: 35px;
  width: 100%;
}

.fieldss {
  border: 0px solid #d1d1d1 !important;
  border-radius: 4px !important;
  color: black !important;
  padding: 0px 0px 0px 10px !important;
  height: 10px !important;
  font-family: SST !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.select-icon {
  width: 1.125rem;
  height: 1.125rem;
  color: var(--ion-color-step-650, var(--ion-text-color-step-350, #595959));
  margin-left: 10rem;
}

.select-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #777777;
  font-size: 1.2rem;
  z-index: 2;
  background: white;
}

.fieldsclassdiv {
  margin-top: 14px;
  padding: 0px 16px;
}

.products_buttons {
  width: 100%;
  font-size: 12px;
  --border-radius: 4px;
  margin: 10px 0px 0px 0px;
  --background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%);
  font-family: SST;
  text-transform: capitalize;
}

.labels {
  font-family: SST !important;
  font-size: 14px !important;
  margin-bottom: 4px !important;
  margin-left: 8px !important;
}

.checkbutton { margin-bottom: 20px; }

.custom-dropdown {
  --background: #ffffff;
  --border-color: #ccc;
  --border-radius: 8px;
  --box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

.dropdown-text { flex-grow: 1; }
.select-icon { margin-left: auto; }

.dropdown-text.ios.hydrated {
  font-size: 14px;
  padding-left: 10px;
}
