.maincontainer {
    --background: url(../../../assets/icon/home.jpg) no-repeat 0px -7px;
        --background-size: 100% 100%;
      --opacity: 1 !important;
      padding-top: 44px;
      --border-color: white !important;
      text-align: center !important;
    }
    
    .toolbar-row {
      align-items: center;
      height: 100%;
    }
    
    .toolbar-col {
      display: flex;
      align-items: center;
    }
    
    .second_col_img {
      text-align: center;
      display: flex;
      justify-content: center;
  }
  .SONY_mail_logo {
    width: 90px;
    /* text-align: center; */
  }
  ion-grid.ios.hydrated {
    height: 100%;
  }
  
    .back-button {
      font-size: 16px;
      border: 1px solid #000000;
      border-radius: 50%;
      --font-weight: 200 !important;
      padding: 3px;
    //   margin-left: 12px;
      --line-height: 10px !important;
      margin-top: 8px;
    }
    
    .back_link {
      color: black;
      cursor: pointer;
    }
    
    ion-title.center-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    
      img {
        max-height: 40px;
      }
    }
    
    ion-content {
      --background: url(../../../assets/icon/home.jpg) no-repeat 0px -84px;
      --background-size: 100% 100%;
    }



    .custom-border-header {
        box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
        border-bottom: 1px solid white;
    }


    // ////Header, ion-content, footer CSS