<ion-header>
  <ion-toolbar>
    <ion-title>Please try again later</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="server-down-content">
  <div class="container">
    <!-- <h1>😞 Sorry, We’re Currently Down!</h1> -->
    <p>We’re experiencing some issues. Please try again later.</p>
    <ion-button (click)="reloadApp()" expand="full" color="primary">Try Again</ion-button>
    <p class="contact-info">If the problem persists, please contact our support team.</p>
  </div>
</ion-content>