.custom-select {
  background-color: #ff0; /* Light background for dropdown */
  border: 1px solid #ccc; /* Border for dropdown */
  border-radius: 8px; /* Rounded corners */
}

.selected-label {
  color: #000000; /* Color for selected item */
}

.custom-searchbar ion-input {
  color: #333; /* Text color in search bar */
}

.dropdown-content {
  max-height: 400px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: white; /* Background color */
  border: 1px solid #ccc; /* Border for dropdown */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1); /* Optional shadow for better visibility */
}

.custom-searchbar {
   --background: #f1f1f1; /* Light background for search bar */
   --placeholder-color: #888; /* Color for placeholder text */
}