<ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid class="header-height">
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <ion-icon name="chevron-back-outline" class="back-button" [routerLink]="['/profile']"></ion-icon>
          </a>
        </ion-col>
        <ion-col size="4" class="toolbar-col second_col_img">
          <img src="/assets/icon/homeicons/SONY_logo_main.svg" alt="" class="SONY_mail_logo">
        </ion-col>
        <ion-col size="4" class="toolbar-col"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="heading-div">
    <h6 class="home-headings">Basic Details</h6>
    <p>Please give us a few moments of your time to update your information</p>
  </div>

  <div class="promoter-kpi-inner-main">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="dailysales_all_cols" id="dailysales_all_cols_id">
          <ion-label position="stacked" class="labels">Date of Birth</ion-label>
          <ion-item class="custom-input-item" lines="none">
            <p id="dob-date-trigger" class="custom-select fieldss" (click)="showDateOfBirthPopover()">
              <ion-icon name="calendar" class="calender-icon"></ion-icon>
              Date: {{ selectedDateOfBirth | date:'dd-MM-yyyy' || '__________' }}
            </p>
          </ion-item>
          <ion-popover #dobPopover [isOpen]="isDateOfBirthPopoverOpen" (ionPopoverDidDismiss)="isDateOfBirthPopoverOpen = false">
            <ng-template>
              <ion-content class="popover-content">
                <ion-datetime 
                  presentation="date"
                  (ionChange)="onDateOfBirthChange($event)"
                  (ionCancel)="dobPopover.dismiss()"
                  class="mine-calender">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="select_grid">
      <ion-row id="row3_brand">
        <ion-col size="12" class="dailysales_all_cols">
          <ion-label position="stacked" class="labels">Select your gender</ion-label>
          <ion-item class="custom-input-item" lines="none">
            <ion-select placeholder="Select Gender" class="custom-select fieldss" [(ngModel)]="gender">
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option>
              <ion-select-option value="Dont't Disclose">Don't Disclose</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down" class="select-icon down-arrow"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid id="join_date_grid">
      <ion-row>
        <ion-col size="12" class="dailysales_all_cols" id="dailysales_all_cols_id">
          <ion-label position="stacked" class="labels">Date of Joining Sony</ion-label>
          <ion-item class="custom-input-item" lines="none">
            <p id="doj-date-trigger" class="custom-select fieldss" (click)="showDateOfJoiningPopover()">
              <ion-icon name="calendar" class="calender-icon"></ion-icon>
              Date: {{ selectedDateOfJoining | date:'dd-MM-yyyy' || '__________' }}
            </p>
          </ion-item>
          <ion-popover #dojPopover [isOpen]="isDateOfJoiningPopoverOpen" (ionPopoverDidDismiss)="isDateOfJoiningPopoverOpen = false">
            <ng-template>
              <ion-content class="popover-content">
                <ion-datetime 
                  presentation="date"
                  (ionChange)="onDateOfJoiningChange($event)"
                  (ionCancel)="dojPopover.dismiss()"
                  class="mine-calender">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="select_grid">
      <ion-row id="row3_brand">
        <ion-col size="12" class="dailysales_all_cols">
          <ion-label position="stacked" class="labels">Which category do you handle</ion-label>
          <ion-item class="custom-input-item" lines="none">
            <ion-select placeholder="Select Category" class="custom-select fieldss" [(ngModel)]="categoryId" multiple="true">
              <ion-select-option *ngFor="let category of categories" [value]="category.id">
                {{ category.category_name }}
              </ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down" class="select-icon down-arrow"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="checkbutton">
      <!-- <ion-button expand="full" class="products_buttons" size="default" (click)="saveBasicDetails()">
        <span class="spanbuttontext">Save</span>
      </ion-button> -->
    </div>
  </div>
</ion-content>