// // Header, ion-content, footer CSS
// .maincontainer {
//     --background: url(../../../assets/icon/home.jpg) no-repeat 0px -7px;
//         --background-size: 100% 100%;
//       --opacity: 1 !important;
//       padding-top: 40px;
//       --border-color: white !important;
//       text-align: center !important;
//     }
    
//     .toolbar-row {
//       align-items: center;
//       height: 100%;
//     }
    
//     .toolbar-col {
//       display: flex;
//       align-items: center;
//     }
    
//     .second_col_img {
//       text-align: center;
//       display: flex;
//       justify-content: center;
//   }
//   .SONY_mail_logo {
//     width: 90px;
//     /* text-align: center; */
//   }
//   ion-grid.ios.hydrated {
//     height: 50px;
//   }
  
//     .back-button {
//       font-size: 16px;
//       border: 1px solid #000000;
//       border-radius: 50%;
//       --font-weight: 200 !important;
//       padding: 3px;
//     //   margin-left: 12px;
//       --line-height: 10px !important;
//       margin-top: 8px;
//     }
    
//     .back_link {
//       color: black;
//       cursor: pointer;
//     }
    
//     ion-title.center-title {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       margin: 0 auto;
    
//       img {
//         max-height: 40px;
//       }
//     }
    
//     ion-content {
//       --background: url(../../../assets/icon/home.jpg) no-repeat 0px -105px;
//       --background-size: 100% 100%;
//     }



//     .custom-border-header {
//         box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
//         border-bottom: 1px solid white;
//     }


//     // ////Header, ion-content, footer CSS
    

//     // new css
//     .profile_image_section {
//         margin-top: 16px;
//         margin-left: 20px;
//     }

//     .profile_image {
//         width: 120px;
//         // border: 2px solid radial-gradient(circle, rgb(38, 85, 217) 0%, rgb(24, 64, 136) 100%);
//         border: 1px solid #2452ce;
//     }
//     .profile_section_details {
//         margin-top: 16px;
//     margin-left: 16px;
//     margin-right: 16px;
//     }

//     .profile-details-row {
//         border-bottom: 1px solid #ffffff54;
//         // height: 42px;
//     }
//     .detail-heading {
//         font-family: SST;
//         font-weight: 500;
//         /* font-size: 16px; */
//     }
//     .detail-text {
//         font-family: SST;
//     }

//     .tick {
//         font-size: 14px;
//         width: 93%;
//         border-radius: 3px;
//         font-weight: 500;
//         --background: radial-gradient(circle, rgba(70, 151, 244, 1) 0%, rgba(20, 81, 165, 1) 100%);
//         font-family: SST;
//         margin: 10px auto; /* Center the button and add space above and below */
//         display: block; /* Ensure the button is a block element */
//     }


//     .profile_section_details_grid {
//         height: fit-content !important;
//         background-color: #ffffff2e;
//     }



//     .heading-div {
//         padding: 0px 20px 0px 20px;
//         margin-top: 20px;
//     }
//     h6.home-headings {
//         color: #4B5098;
//         font-family: SST;
//         font-size: 20px;
//         font-weight: bolder;
//     }

// Header, ion-content, footer CSS
.maincontainer {
  --background: url(../../../assets/icon/home.jpg) no-repeat 0px -7px;
      --background-size: 100% 100%;
    --opacity: 1 !important;
    padding-top: 20px;
    --border-color: white !important;
    text-align: center !important;
  }
  
  .toolbar-row {
    align-items: center;
    height: 100%;
  }
  
  .toolbar-col {
    display: flex;
    align-items: center;
  }
  
  .second_col_img {
    text-align: center;
    display: flex;
    justify-content: center;
}
.SONY_mail_logo {
  width: 90px;
  /* text-align: center; */
}
ion-grid.ios.hydrated {
  height: 50px;
}

  .back-button {
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 50%;
    --font-weight: 200 !important;
    padding: 3px;
  //   margin-left: 12px;
    --line-height: 10px !important;
    margin-top: 8px;
  }
  
  .back_link {
    color: black;
    cursor: pointer;
  }
  
  ion-title.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
    img {
      max-height: 40px;
    }
  }
  
  ion-content {
    --background: url(../../../assets/icon/home.jpg) no-repeat 0px -84px;
    --background-size: 100% 100%;
  }



  .custom-border-header {
      box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
      border-bottom: 1px solid white;
  }


  // ////Header, ion-content, footer CSS
  

  // new css
  .profile_image_section {
      margin-top: 16px;
      margin-left: 20px;
  }

  .profile_image {
      width: 120px;
      // border: 2px solid radial-gradient(circle, rgb(38, 85, 217) 0%, rgb(24, 64, 136) 100%);
      // border: 1px solid #2452ce;
  }
  .profile_section_details {
      margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  }

  .profile-details-row {
      border-bottom: 1px solid #ffffff54;
      // height: 42px;
  }
  .detail-heading {
      font-family: SST;
      font-weight: 500;
      /* font-size: 16px; */
  }
  .detail-text {
      font-family: SST;
  }

  .tick {
      font-size: 14px;
      width: 93%;
      border-radius: 3px;
      font-weight: 500;
      --background: radial-gradient(circle, rgba(70, 151, 244, 1) 0%, rgba(20, 81, 165, 1) 100%);
      font-family: SST;
      margin: 10px auto; /* Center the button and add space above and below */
      display: block; /* Ensure the button is a block element */
  }


  .profile_section_details_grid {
      height: fit-content !important;
      background-color: #ffffff2e;
  }



  .heading-div {
      padding: 0px 20px 0px 20px;
      margin-top: 20px;
  }
  h6.home-headings {
      color: #4B5098;
      font-family: SST;
      font-size: 20px;
      font-weight: bolder;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .avatar-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
    cursor: pointer;
  }
  