// Header, ion-content, footer CSS
.maincontainer {
    --background: url(../../../assets/icon/home.jpg) no-repeat 0px -7px;
        --background-size: 100% 100%;
      --opacity: 1 !important;
      padding-top: 20px;
      --border-color: white !important;
      text-align: center !important;
    }
    
    .toolbar-row {
      align-items: center;
      height: 100%;
    }
    
    .toolbar-col {
      display: flex;
      align-items: center;
    }
    
    .second_col_img {
      text-align: center;
      display: flex;
      justify-content: center;
  }
  .SONY_mail_logo {
    width: 90px;
    /* text-align: center; */
  }
  ion-grid.ios.hydrated {
    height: 50px;
  }
  
    .back-button {
      font-size: 16px;
      border: 1px solid #000000;
      border-radius: 50%;
      --font-weight: 200 !important;
      padding: 3px;
    //   margin-left: 12px;
      --line-height: 10px !important;
      margin-top: 8px;
    }
    
    .back_link {
      color: black;
      cursor: pointer;
    }
    
    ion-title.center-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    
      img {
        max-height: 40px;
      }
    }
    
    ion-content {
      --background: url(../../../assets/icon/home.jpg) no-repeat 0px -84px;
      --background-size: 100% 100%;
    }



    .custom-border-header {
        box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
        border-bottom: 1px solid white;
    }


    // ////Header, ion-content, footer CSS

// headings
    .heading-div {
        padding: 0px 20px;
        margin-top: 20px;
        
        h6.home-headings {
        color: #4B5098;
        font-family: SST;
        font-size: 20px;
        font-weight: bolder;
        }
        
        // p {
        // font-size: 10px;
        // font-family: SST;
        // margin-top: 12px;
        // color: black!important;
        // }
        }

// headings

// buttons
        .products_buttons {
            width: 100%;
            font-size: 14px;
            --border-radius: 0px;
            margin: 4px 0px 0px 0px;
            --background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%);
            font-family: SST;
        }
        .products_buttons2{
            width: 100%;
            font-size: 12px;
            --border-radius: 0px;
            margin: 4px 0px 0px 0px;
            --background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%);
            font-family: SST;
        }
// buttons

.table-container {
    padding: 20px 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse; /* Removes space between table borders */
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #d1d1d1;
    padding: 4px;
    text-align: center;
  }
  
  .custom-table th {
    // background-color: #4B54CF;
    color: white;
    // font-weight: bold;
  }
  
//   .custom-table tbody tr:nth-child(even) {
//     background-color: #f9f9f9; /* Light grey background for even rows */
//   }
tr.tableheadingcss {
    background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%) !important;
    font-family: SST;
    font-size: 14px;
    font-weight: 300 !important;
}
tbody.tablebodycss {
    background: white;
    font-size: 14px;
    font-family: SST;
}



.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-controls .ngx-pagination {
    display: inline-block;
  }
  
//   .pagination-controls .ngx-pagination .current {
//     font-weight: bold;
//     color: #4B54CF;
    
//   }
  
  .pagination-controls .ngx-pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #4B54CF;
  }
  
  .pagination-controls .ngx-pagination a:hover {
    text-decoration: underline;
  }
  

  .ngx-pagination .current {
    padding: .1875rem .625rem;
    background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%)!important;
    color: #ffffff!important;
    cursor: default;
    }

    .pagination-controls .ngx-pagination .current {
        background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%) !important;
        color: #ffffff !important;
        border-radius: 50%;
        padding: 5px 10px;
      }

// 
      p.score {
        margin-top: 0;
        margin-bottom: 0rem;
        margin-left: 0px;
        padding: 10px;
        font-size: 14px;
        font-family: SST;
    }



