<ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid>
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <ion-icon name="chevron-back-outline" class="back-button" [routerLink]="['/promoter-kpi']"></ion-icon>
          </a>
        </ion-col>
        <!-- <ion-col size="4" class="toolbar-col second_col_img">
          <img src="/assets/icon/homeicons/SONY_logo_main.svg" alt="" class="SONY_mail_logo">
        </ion-col> -->
        <ion-col size="4" class="toolbar-col second_col_img">
          <img src="/assets/icon/homeicons/sony_light.svg" alt="" class="SONY_mail_logo dark_pta">
          <img src="/assets/icon/homeicons/sony_dark.svg" alt="" class="SONY_mail_logo light_pta">
        </ion-col>
        <ion-col size="4" class="toolbar-col">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content class="main-content dark light">
  <div class="heading-div">
    <h6 class="home-headings">Incentive Calculator</h6>
  </div>

  <ng-container *ngIf="isRoleLoaded">
    

    <div *ngIf="roleId == '3'; else noPermission" class="profile_section_details main_paddding">


      <ion-grid class="pprofile-grid">
        <ion-row class="pprofile-details-row">
          <ion-col size="4" class="ddetail-heading">
            <p>Name:</p>
          </ion-col>
          <ion-col size="8" class="ddetail-text">
            {{ userData.firstName }} {{ userData.lastName }}
          </ion-col>
        </ion-row>

        <ion-row class="pprofile-details-row">
          <ion-col size="4" class="ddetail-heading">
            <p>Retailer:</p>
          </ion-col>
          <ion-col size="8" class="ddetail-text">
            {{ userData.retailerName }}
          </ion-col>
        </ion-row>

        <ion-row class="pprofile-details-row">
          <ion-col size="4" class="ddetail-heading">
            <p>Store:</p>
          </ion-col>
          <ion-col size="8" class="ddetail-text">
            {{ userData.storeName }}
          </ion-col>
        </ion-row>

        <ion-row class="pprofile-details-row">
          <ion-col size="4" class="ddetail-heading">
            <p>Category:</p>
          </ion-col>
          <ion-col size="8" class="ddetail-text">
            {{ userData.categories }}
          </ion-col>
        </ion-row>

        <ion-row class="pprofile-details-row">
          <ion-col size="4" class="ddetail-heading">
            <p>Country:</p>
          </ion-col>
          <ion-col size="8" class="ddetail-text">
            {{ userData.country }}
          </ion-col>
        </ion-row>
      </ion-grid>








      <table class="sales_data_table">
        <thead>
          <tr>
            <th class="sales_table_header">Month</th>
            <th class="sales_table_header">No. of days</th>
            <th class="sales_table_header">Pass</th>
            <th class="sales_table_header">Left</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="sales_table_data">{{ currentMonthName }}</td>
            <td class="sales_table_data">{{ currentMonthDays }}</td>
            <td class="sales_table_data">{{ daysPassed }}</td>
            <td class="sales_table_data">{{ daysLeft }}</td>
          </tr>
        </tbody>
      </table>


      <div *ngFor="let line of displayLines" style="background: #9c9576; color: #000; font-weight: bold; font-size: 18px; 
           padding: 2px 6px; margin-bottom: 10px; border-radius: 10px; 
           box-shadow: 0 2px 6px rgba(0,0,0,0.2);">
        {{ line }}
      </div>



      <div class="scrollable-table-container">
        <table class="sales_data_table">
          <thead>
            <tr>
              <th class="sales_table_header">CAT</th>
              <th class="sales_table_header">TRGT</th>
              <th class="sales_table_header">ACH</th>
              <th class="sales_table_header">ACH %</th>
              <th class="sales_table_header">Remaining</th>
              <th class="sales_table_header">RR Per Day</th>
              <th class="sales_table_header">Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let incentive of incentiveData">
              <td class="sales_table_data">{{ incentive.name }}</td>
              <td class="sales_table_data">{{ incentive.target | number }}</td>
              <td class="sales_table_data">{{ incentive.achieved | number }}</td>
              <td class="sales_table_data">{{ (incentive.target_achieved_percentage | number: '1.0-0') }}%</td>
              <td class="sales_table_data">{{ incentive.remaining_amount === '0.00' ? '-' : incentive.remaining_amount
                }}
              </td>
              <td class="sales_table_data">{{ incentive.per_day_sale === '0.00' ? '-' : (incentive.per_day_sale |
                number)
                }}</td>
              <td class="sales_table_data">{{ incentive.remark ? incentive.remark : '0' }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Display error message if any -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

      </div>


      <!-- Display PPI data -->
      <div class="scrollable-table-container" *ngIf="getIncentiveKeys().length">
        <table class="sales_data_table">
          <thead>
            <tr>
              <th class="sales_table_header">Model</th>
              <th class="sales_table_header">CAT</th>
              <th class="sales_table_header">QTY</th>
              <th class="sales_table_header">PPI</th>

              <th class="sales_table_header">Remarks</th>
              <th class="sales_table_header">PPI Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of getIncentiveKeys()">
              <td class="sales_table_data">{{ incentivePPIData[key]?.model }}</td>
              <td class="sales_table_data">{{ incentivePPIData[key]?.name }}</td>
              <td class="sales_table_data">{{ incentivePPIData[key]?.total_quantity }}</td>
              <td class="sales_table_data">{{ incentivePPIData[key]?.ppi }}</td>
              <td class="sales_table_data">{{ incentivePPIData[key]?.remark }}</td>
              <td class="sales_table_data">{{ incentivePPIData[key]?.total_value }}</td>
            </tr>

            <tr>
              <td class="sales_table_data total_bold" colspan="5">Total</td>
              <td class="sales_table_data total_bold">
                {{ limit_total || 0 }}
              </td>
            </tr>


            <tr>
              <td class="sales_table_data total_bold" colspan="5">Uncaped Total</td>
              <td class="sales_table_data total_bold">
                {{ uncaped_total || 0 }}
              </td>
            </tr>

            <tr>
              <td class="sales_table_data total_bold" colspan="5">Grand Total</td>
              <td class="sales_table_data total_bold">
                {{ total_of_incentive_amount }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #noPermission>
    <div class="no-permission">
      <ion-row>
        <ion-col>
          <div class="notification-message">
            Incentive calculator module access is not given to your user role.
            Please contact management for assistance.
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ng-template>

  <!-- <ion-button class="back-button-bottom-right" color="dark" [routerLink]="['/promoter-kpi']">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button> -->

</ion-content>

<app-footer></app-footer>