<!-- <ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid>
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <ion-icon name="chevron-back-outline" class="back-button" [routerLink]="['/planogram-ranging-feedback']"></ion-icon>
          </a>
        </ion-col>
        <ion-col size="4" class="toolbar-col second_col_img">
          <img src="/assets/icon/homeicons/SONY_logo_main.svg" alt="" class="SONY_mail_logo">
        </ion-col>
        <ion-col size="4" class="toolbar-col">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">

  <div class="heading-div">
    <h6 class="home-headings">Ranging <br>Feedback</h6>
 
  </div>
  <div class="fieldsclassdiv">

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="dailysales_all_cols" id="dailysales_all_cols_id">
          <ion-item class="custom-input-item" lines="none" (click)="openFromPopover()">
            <p id="from-date-trigger" class="custom-select ">
              <ion-icon name="calendar" class="calender-icon"></ion-icon>
              Date: {{ selectedFromDate ? (selectedFromDate | date:'dd-MM-yyyy') : '__________' }}
            </p>
          </ion-item>

         
          <ion-popover #fromPopover trigger="from-date-trigger" [isOpen]="isFromPopoverOpen"
            (ionPopoverDidDismiss)="isFromPopoverOpen = false">
            <ng-template>
              <ion-content class="popover-content">
                <ion-datetime presentation="date" [(ngModel)]="selectedFromDate" (ionChange)="onFromDateChange($event)"
                  (ionCancel)="closeFromPopover()" class="mine-calender">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>



  </div>


  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="category-title">
            <ion-icon name="checkmark-circle" *ngIf="selectedCategoryName" class="category-icon"></ion-icon>
            <p>Selected Category: {{ selectedCategoryName || 'Loading...' }}</p>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="category-content">
            <p *ngIf="!selectedCategoryName" class="loading-text">Please select a category to see details.</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>




  <div class="scrollable-table-container">
    <table class="sales_data_table">
      <thead>
        <tr>
          <th class="sales_table_header">#</th>
          <th class="sales_table_header" style="display:none;">Product ID</th> 
          <th class="sales_table_header">Product</th>
          <th class="sales_table_header">Available Box Display</th>
          <th class="sales_table_header">Available Open Display</th>
          <th class="sales_table_header">Min Stock Level</th>
          <th class="sales_table_header">Stock</th>
          <th class="sales_table_header">Last Update</th>
          <th class="sales_table_header">Attachment 1</th>
          <th class="sales_table_header">Attachment 2</th>
          <th class="sales_table_header">Attachment 3</th>
        </tr>
      </thead>
      <tbody *ngIf="feedbackData && feedbackData.details">
        <tr *ngFor="let detail of feedbackData.details; let i = index">
          <td class="sales_table_data">{{ i + 1 }}</td>
          <td class="sales_table_data" style="display:none;">{{ detail.product_id }}</td> 
          <td class="sales_table_data">{{ detail.product_name || 'N/A' }}</td>
          <td class="sales_table_data">
            <ion-toggle aria-label="Available Box Display" color="primary"
              [checked]="isAvailable(detail.available)" [disabled]="true"
              (ionChange)="updateAvailable(detail, $event.detail.checked)"></ion-toggle>
          </td>
          <td class="sales_table_data">
            <ion-toggle aria-label="Available Open Display" color="primary"
              [checked]="isAvailable(detail.open_display)"
              (ionChange)="updateOpenDisplay(detail, $event.detail.checked)"></ion-toggle>
          </td>
          
          <td class="sales_table_data">0</td> 
          <td class="sales_table_data">
            <input type="number" [(ngModel)]="detail.stock" (ngModelChange)="onStockChange(detail.stock)" />
          </td>
          <td class="sales_table_data">{{ feedbackData.feedback_date || 'N/A' }}</td> 
         
          <td class="sales_table_data">
            
              <app-search-dropdown 
                [options]="allproducts" 
                [(ngModel)]="detail.attachment1_model_id" 
                (optionSelected)="selectOption($event, 'attachment1')">
              </app-search-dropdown>          
          </td>

          
          <td class="sales_table_data">
           

            <app-search-dropdown 
                [options]="allproducts" 
                [(ngModel)]="detail.attachment2_model_id" 
                (optionSelected)="selectOption($event, 'attachment1')">
              </app-search-dropdown> 
          </td>

          <td class="sales_table_data">
            
            <app-search-dropdown 
                [options]="allproducts" 
                [(ngModel)]="detail.attachment3_model_id" 
                (optionSelected)="selectOption($event, 'attachment1')">
              </app-search-dropdown> 
         </td>
        </tr>
      </tbody>
    </table>
  </div>

  


<ion-item class="custom-input-item custom-margin" lines="none">
  <div class="dropdown-container">
      <app-custom-product-dropdown 
        [products]="products" 
        (productSelected)="onProductSelected($event)">
      </app-custom-product-dropdown>
      <ion-button (click)="addProduct()" [disabled]="!selectedProduct" class="add-product-button">
        <ion-icon name="add" slot="start"></ion-icon> 
        Add Product
    </ion-button>
  </div>
</ion-item>


  <ion-item class="custom-input-item textarea-item" color="white" lines="none">
    <ion-textarea placeholder="Your feedback" class="custom-textarea fieldss feedback-textarea" [(ngModel)]="feedback"
      rows="10">
    </ion-textarea>
  </ion-item>

  <div class="checkbutton2">
    <ion-button expand="full_screen" class="products_buttons" (click)="submitFeedback()">
      Submit
    </ion-button>
</div>



</ion-content>
<app-footer></app-footer> -->


<ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid>
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <ion-icon name="chevron-back-outline" class="back-button"
              [routerLink]="['/planogram-ranging-feedback']"></ion-icon>
          </a>
        </ion-col>
        <ion-col size="4" class="toolbar-col second_col_img">
          <img src="\assets\icon\homeicons\SONY_logo_main.svg" alt="" class="SONY_mail_logo">
          <!-- <ion-title class="center-title">
           

          </ion-title> -->
        </ion-col>
        <ion-col size="4" class="toolbar-col">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">

  <!-- <div class="heading-div"> -->
    <!-- <h6 class="home-headings">Ranging Feedback</h6> -->
    <!-- <p>(Choose exam type)</p> -->
  <!-- </div> -->
  <div class="fieldsclassdiv">

    <ion-grid>
      <ion-row class="align-items-center">
        <!-- Left side for the date -->
        <ion-col size="8" class="dailysales_all_cols" id="dailysales_all_cols_id">
          <!-- <ion-item class="custom-input-item" lines="none" (click)="openFromPopover()">
            <p id="from-date-trigger" class="custom-select">
              <ion-icon name="calendar" class="calender-icon"></ion-icon>
              Date: {{ selectedFromDate ? (selectedFromDate | date:'dd-MM-yyyy') : '__________' }}
            </p>
          </ion-item>
          
          <ion-popover #fromPopover trigger="from-date-trigger" [isOpen]="isFromPopoverOpen"
            (ionPopoverDidDismiss)="isFromPopoverOpen = false">
            <ng-template>
              <ion-content class="popover-content">
                <ion-datetime presentation="date" [(ngModel)]="selectedFromDate" (ionChange)="onFromDateChange($event)"
                  (ionCancel)="closeFromPopover()" class="mine-calender">
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover> -->

          <div class="heading-div">
            <h6 class="home-headings">Ranging Feedback</h6>
            <!-- <p>(Choose exam type)</p> -->
          </div>
        </ion-col>
    
        <!-- Right side for the submit button -->
        <ion-col size="4" class="submit-column">
          <div class="checkbutton2">
            <!-- <ion-button expand="full_screen" class="products_buttons" (click)="submitFeedback()">
              Submit
            </ion-button> -->
            <ion-button expand="full_screen" class="products_buttons" (click)="WIPsubmitFeedback()">
              Submit
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    



  </div>


  <!-- <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="category-title">
            <ion-icon name="checkmark-circle" *ngIf="selectedCategoryName" class="category-icon"></ion-icon>
            <p>Selected Category: {{ selectedCategoryName || 'Loading...' }}</p>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="category-content">
            <p *ngIf="!selectedCategoryName" class="loading-text">Please select a category to see details.</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> -->

  <ion-row>
    <ion-col size="12">
      <ion-card class="ion-padding small-card compact-card shadow-card">
        <ion-card-header class="ion-no-padding compact-header">
          <ion-card-title class="compact-title">
            <span class="category-label">Selected Category:</span>
            <ion-badge *ngIf="selectedCategoryName" color="primary" class="category-badge">
              {{ selectedCategoryName }}
            </ion-badge>
            <span *ngIf="!selectedCategoryName">Loading...</span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="compact-content">
          <p *ngIf="!selectedCategoryName" class="compact-loading-text">
            Select a category for details.
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>




  <!-- <div class="percentagediv">
    <h3 class="percentagedivhead">{{ progressPercentage | number: '1.0-0'}}%</h3>
  </div> -->

  <div class="progress-container">
    <div class="progress-bar" [style.width]="progressPercentage + '%'"></div>
    <div class="progress-text">{{ progressPercentage | number: '1.0-2' }}%</div>
  </div>
  



  <div class="scrollable-table-container">
    <table class="sales_data_table">
      <thead>
        <tr>
          <th class="sales_table_header">#</th>
          <th class="sales_table_header" style="display:none;">Product ID</th>
          <th class="sales_table_header" *ngIf="columnVisibility.productId">Product</th>
          <th class="sales_table_header" *ngIf="columnVisibility.availableBoxDisplay">Available Box Display</th>
          <th class="sales_table_header" *ngIf="columnVisibility.availableOpenDisplay">Available Open Display</th>
          <th class="sales_table_header" *ngIf="columnVisibility.minStockLevel">Min Stock Level</th>
          <th class="sales_table_header" *ngIf="columnVisibility.stock">Stock</th>
          <th class="sales_table_header" >Last Update</th>
          <th class="sales_table_header" *ngIf="columnVisibility.attachment1">Attachment 1</th>
          <th class="sales_table_header" *ngIf="columnVisibility.attachment2">Attachment 2</th>
          <th class="sales_table_header" *ngIf="columnVisibility.attachment3">Attachment 3</th>
          <th class="sales_table_header" *ngIf="columnVisibility.feedback">Feedback</th>

        </tr>
      </thead>
      <tbody *ngIf="feedbackData && feedbackData.details">
        <tr *ngFor="let detail of feedbackData.details; let i = index">
          <td class="sales_table_data">{{ i + 1 }}</td>
          <td class="sales_table_data" style="display:none;">{{ detail.product_id }}</td> 
          <td class="sales_table_data" *ngIf="columnVisibility.productId">{{ detail.product_name || 'N/A' }}</td>
          <td class="sales_table_data" *ngIf="columnVisibility.availableBoxDisplay">
            <ion-toggle aria-label="Available Box Display" color="primary" [checked]="isAvailable(detail.available)"
              [disabled]="true" (ionChange)="updateAvailable(detail, $event.detail.checked)"></ion-toggle>
          </td>
          <td class="sales_table_data" *ngIf="columnVisibility.availableOpenDisplay">
     

            <ion-toggle aria-label="Available Open Display" color="primary" [checked]="isAvailable(detail.open_display)"
              (ionChange)="updateOpenDisplay(detail, $event.detail.checked)">
            </ion-toggle>

          </td>

          <td class="sales_table_data" *ngIf="columnVisibility.minStockLevel">0</td> 
          <td class="sales_table_data" *ngIf="columnVisibility.stock">
            <input type="number" [(ngModel)]="detail.stock" (ngModelChange)="onStockChange(detail.stock)" />
          </td>
          <td class="sales_table_data" >{{ feedbackData.feedback_date || 'N/A' }}</td> 
      
          <td class="sales_table_data" *ngIf="columnVisibility.attachment1">
            <app-search-dropdown [options]="allproducts" [(ngModel)]="detail.attachment1_model_id"
              (optionSelected)="selectOption($event, 'attachment1')">
            </app-search-dropdown>
          </td>

       
          <td class="sales_table_data" *ngIf="columnVisibility.attachment2">
            <app-search-dropdown [options]="allproducts" [(ngModel)]="detail.attachment2_model_id"
              (optionSelected)="selectOption($event, 'attachment1')">
            </app-search-dropdown>
          </td>

          <td class="sales_table_data" *ngIf="columnVisibility.attachment3">
            <app-search-dropdown [options]="allproducts" [(ngModel)]="detail.attachment3_model_id"
              (optionSelected)="selectOption($event, 'attachment1')">
            </app-search-dropdown>
          </td>
          <td class="sales_table_data" *ngIf="columnVisibility.feedback">
            <!-- <textarea [(ngModel)]="detail.feedback" style="width: 100%; resize: vertical;" rows="3"></textarea> -->
            <textarea [(ngModel)]="detail.feedback"></textarea>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="scrollable-table-container">
    <table class="sales_data_table">
      <thead>
        <tr>
          <th class="sales_table_header">#</th>
          <th class="sales_table_header" *ngIf="columnVisibility.productId">Product ID</th>
          <th class="sales_table_header">Product</th>
          <th class="sales_table_header" *ngIf="columnVisibility.availableBoxDisplay">Available Box Display</th>
          <th class="sales_table_header" *ngIf="columnVisibility.availableOpenDisplay">Available Open Display</th>
          <th class="sales_table_header" *ngIf="columnVisibility.minStockLevel">Min Stock Level</th>
          <th class="sales_table_header" *ngIf="columnVisibility.stock">Stock</th>
      
          <th class="sales_table_header" *ngIf="columnVisibility.attachment1">Attachment 1</th>
          <th class="sales_table_header" *ngIf="columnVisibility.attachment2">Attachment 2</th>
          <th class="sales_table_header" *ngIf="columnVisibility.attachment3">Attachment 3</th>
          <th class="sales_table_header" *ngIf="columnVisibility.feedback">Feedback</th>
        </tr>
      </thead>
      <tbody *ngIf="feedbackData && feedbackData.details">
        <tr *ngFor="let detail of feedbackData.details; let i = index">
          <td class="sales_table_data">{{ i + 1 }}</td>
          <td class="sales_table_data" *ngIf="columnVisibility.productId">{{ detail.product_id }}</td>
          <td class="sales_table_data">{{ detail.product_name || 'N/A' }}</td>
          <td class="sales_table_data" *ngIf="columnVisibility.availableBoxDisplay">
            <ion-toggle aria-label="Available Box Display" color="primary" [checked]="detail.available"></ion-toggle>
          </td>
          <td class="sales_table_data" *ngIf="columnVisibility.availableOpenDisplay">
            <ion-toggle aria-label="Available Open Display" color="primary" [checked]="detail.open_display"></ion-toggle>
          </td>
          <td class="sales_table_data" *ngIf="columnVisibility.minStockLevel">0</td>
          <td class="sales_table_data" *ngIf="columnVisibility.stock">{{ detail.stock }}</td>
   
          <td class="sales_table_data" *ngIf="columnVisibility.attachment1">{{ detail.attachment1_model_id }}</td>
          <td class="sales_table_data" *ngIf="columnVisibility.attachment2">{{ detail.attachment2_model_id }}</td>
          <td class="sales_table_data" *ngIf="columnVisibility.attachment3">{{ detail.attachment3_model_id }}</td>
          <td class="sales_table_data" *ngIf="columnVisibility.feedback">
            <textarea [(ngModel)]="detail.feedback"></textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  
  <ion-item class="custom-input-item custom-margin" lines="none">
    <div class="dropdown-container">
      <app-custom-product-dropdown [products]="products" (productSelected)="onProductSelected($event)">
      </app-custom-product-dropdown>
      <ion-button (click)="addProduct()" [disabled]="!selectedProduct" class="add-product-button">
        <ion-icon name="add" slot="start"></ion-icon> <!-- Add the plus icon here -->
        Add Product
      </ion-button>
    </div>
  </ion-item>


  <!-- Feedback Input Field -->
  <ion-item class="custom-input-item textarea-item" color="white" lines="none">
    <ion-textarea placeholder="Your feedback" class="custom-textarea fieldss feedback-textarea" [(ngModel)]="feedback"
      rows="10">
    </ion-textarea>
  </ion-item>

  <!-- <div class="checkbutton2">
    <ion-button expand="full_screen" class="products_buttons" (click)="submitFeedback()">
      Submit
    </ion-button>
  </div> -->



</ion-content>
<app-footer></app-footer>