.maincontainer {
    --background: url(../../../assets/icon/home.jpg) no-repeat 0px -7px;
        --background-size: 100% 100%;
      --opacity: 1 !important;
      padding-top: 44px;
      --border-color: white !important;
      text-align: center !important;
    }
    
    .toolbar-row {
      align-items: center;
      height: 100%;
    }
    
    .toolbar-col {
      display: flex;
      align-items: center;
    }
    
    .second_col_img {
      text-align: center;
      display: flex;
      justify-content: center;
  }
  .SONY_mail_logo {
    width: 90px;
    /* text-align: center; */
  }
  ion-grid.ios.hydrated {
    height: 100%;
  }
  
    .back-button {
      font-size: 16px;
      border: 1px solid #000000;
      border-radius: 50%;
      --font-weight: 200 !important;
      padding: 3px;
    //   margin-left: 12px;
      --line-height: 10px !important;
      margin-top: 8px;
    }
    
    .back_link {
      color: black;
      cursor: pointer;
    }
    
    ion-title.center-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    
      img {
        max-height: 40px;
      }
    }
    
   



    .custom-border-header {
        box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
        border-bottom: 1px solid white;
    }


    // ////Header, ion-content, footer CSS
/* Toolbar grid styling */
.toolbar-row {
    align-items: center;
    height: 100%;
}

.toolbar-col {
    display: flex;
    // justify-content: center;
    align-items: center;
}

/* Back button styles */
.back-button {
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 50%;
    --font-weight: 200 !important;
    padding: 3px;
    // margin-left: 12px;
    --line-height: 10px !important;
    margin-top: 8px;
}

.dss {
    display: flex;
}

// ion-title.md.title-default.hydrated {
//     margin-left: -20px;
// }

/* Back link styles */
.back_link {
    color: black;
    cursor: pointer;
}

/* Title and image styles */
ion-title.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ion-title.center-title img {
    max-height: 40px; /* Adjust the height as necessary */
}

/* Content background */
ion-content {
    --background: url(../../../assets/icon/home.jpg) no-repeat 0px -105px;
    --background-size: 100% 100%;
}

/* General icon styles */
img.homeicons {
    border: 1px solid #2452cd;
    background: radial-gradient(circle, rgba(38, 85, 217, 1) 0%, rgba(24, 64, 136, 1) 100%);
    padding: 14px;
    border-radius: 14px;
}

/* Grid and box styles */
ion-grid {
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin-top: 0%;
}

.box.homeicontext {
    font-size: 11px;
    padding-top: 10px;
    letter-spacing: 0.5px;
}

/* Swiper slider fixed position */
.swiper_slider {
    position: fixed;
}

/* Home heading styles */
h6.home-headings {
    color: #4B5098;
    font-family: SST;
    font-size: 20px;
    font-weight: bolder;
}

.heading-div > p {
    font-size: 10px;
    font-family: SST;
    margin-top: 12px;
}

.heading-div {
    padding: 0px 20px 0px 20px;
    margin-top: 20px;
}

/* Product buttons styles */
.products_buttons {
    width: 100%;
    font-size: 12px;
    --border-radius: 0px;
    margin: 14px 0px 0px 0px;
    --background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%);
    font-family: SST;
}
.SONY_mail_logo {
    width: 90px;
    /* text-align: center; */
}

/* Product details container */
.product_detail_container {
    padding: 0px 20px 16px 20px;
}

/* Product detail heading styles */
// .product_detail_heading {
//     margin-top: -34px;
//     background: rgba(226, 226, 226, 0.4588235294);
//     font-size: 14px;
//     padding: 9px;
//     -webkit-backdrop-filter: blur(7px);
//     backdrop-filter: blur(3px);
//     color: white;
//     letter-spacing: 1px;
//     font-weight: 400;
// }


.product_detail_heading {
    margin-top: -36px;
    background: rgb(226 226 226 / 34%);
    font-size: 15px;
    padding: 9px 9px 9px 14px;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    font-family: SST;
  }
  
  .product_detail_heading::before {
    content: "";
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4px);
    z-index: -1;
  }
  .second_col_img {
    display: flex;
    justify-content: center;
}
/* Product icons styles */
.product_icons {
    // background: linear-gradient(45deg, rgba(54, 66, 150, 1) 12%, rgba(98, 152, 214, 1) 39%, rgba(158, 200, 239, 1) 73%);
    // padding: 8px;
    // border-radius: 8px;
    // cursor: pointer;
    // text-transform: capitalize;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
    transition: background 0.3s ease;
    // background: black; 
    background: linear-gradient(45deg, rgba(68, 68, 68, 1) 36%, rgba(88, 88, 88, 1) 45%, rgba(111, 111, 111, 1) 77%);
    
}
.product_icons_btn.active .product_icons {
    background: linear-gradient(45deg, rgba(54, 66, 150, 1) 25%, rgba(98, 152, 214, 1) 60%, rgba(158, 200, 239, 1) 80%);  }
.product_icons_btn {
    height: 50px;
    width: 85px;
    --background: transparent;
  --box-shadow: none;
}

.icons-div_row {
    margin-bottom: 12px;
}
.custom-border-header {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid white;
}





.product_detail_container>img {
    width: 100%;
}


.document-file-icon{
    margin-left: auto;
}


// new badge design 
.new-badge {
    background-color: #28a745;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8em;
    margin-left: 10px;
    position: relative;
    top: -53px;
    left: -16px;
}