.maincontainer {
  --background: url(../../../assets/icon/home.jpg) no-repeat 0px 0px;
      --background-size: 100% 100%;
    --opacity: 1 !important;
    padding-top: 20px;
    --border-color: white !important;
    text-align: center !important;
  }
  
  .toolbar-row {
    align-items: center;
    height: 100%;
  }
  
  .toolbar-col {
    display: flex;
    align-items: center;
  }
  
  .second_col_img {
    text-align: center;
    display: flex;
    justify-content: center;
}
.SONY_mail_logo {
  width: 80px;
  /* text-align: center; */
}
ion-grid.ios.hydrated {
  height: 50px;
}

  .back-button {
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 50%;
    --font-weight: 200 !important;
    padding: 3px;
    margin-left: 12px;
    --line-height: 10px !important;
    margin-top: 8px;
  }
  
  .back_link {
    color: black;
    cursor: pointer;
  }
  
  ion-title.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
    img {
      max-height: 40px;
    }
  }
  
  ion-content {
    --background: url(../../../assets/icon/home.jpg) no-repeat 0px -84px;
    --background-size: 100% 100%;
  }
  
  .heading-div {
    padding: 0px 20px;
    margin-top: 20px;
  
    h6.home-headings {
      color: #4B5098;
      font-family: SST;
      font-size: 20px;
      font-weight: bolder;
    }
  
    p {
      font-size: 10px;
      font-family: SST;
      margin-top: 12px;
    }
  }
  
  .product_icons {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: capitalize;
    transition: background 0.3s ease;
    background: linear-gradient(45deg, rgba(68, 68, 68, 1) 36%, rgba(88, 88, 88, 1) 45%, rgba(111, 111, 111, 1) 77%);
  }
  
  .product_icons_btn {
    height: 50px;
    width: 85px;
    --background: transparent;
    --box-shadow: none;
  
    &.active .product_icons {
      background: linear-gradient(45deg, rgba(54, 66, 150, 1) 25%, rgba(98, 152, 214, 1) 60%, rgba(158, 200, 239, 1) 80%);
    }
  }
  
  .icons-div_row {
    margin-bottom: 12px;
  }
  
  .product-grid {
    padding: 0 10px;
  }
  
  
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .product-name {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
  }
  
  .product_detail_container {
    // padding: 0 20px;
    margin-top: 236px;
  }
  
  .product_detail_heading{
    /* background: #4B5098; */
    color: white!important;
    padding: 12px!important;
   
    margin-bottom: 15px!important;
    width: 100%!important;
    font-size: 14px!important;
    --border-radius: 0px!important;
    /* margin: 14px 0px 0px 0px; */
    background: radial-gradient(circle, rgba(92, 135, 255, 1) 23%, rgba(24, 64, 136, 1) 100%)!important;
    font-family: SST!important;
    text-align: center!important;
    font-weight: 500!important;
}
  
  .products_buttons {
    width: 100%;
    font-size: 11px;
    --border-radius: 0px;
    margin: 14px 0px 0px 0px;
    --background: radial-gradient(circle, rgba(92, 135, 255, 1) 0%, rgba(24, 64, 136, 1) 100%);
    font-family: SST;
  }

  
  .product_detail_heading {
    color: white !important;
    padding: 12px 20px 12px 20px !important;
    margin-bottom: 15px !important;
    width: 100% !important;
    font-size: 18px !important;
    --border-radius: 0px !important;
    background: radial-gradient(circle, rgb(92, 135, 255) 23%, rgb(24, 64, 136) 100%) !important;
    font-family: SST !important;
    text-align: left !important;
    font-weight: bolder !important;
  }
  
  .product-item {
    text-align: center;
    margin-bottom: 8px!important;
    img {
        // width: 100%;
        /* height: auto; */
        margin-bottom: 5px;
        border: 2px solid #ffffff63;
        border-radius: 10px;
        overflow: hidden;
    }
    p {
        font-size: 12px;
    margin: 0;
    font-family: SST;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;

    }
  }




  .custom-border-header {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid white;
}




.classforfixed {
  position: fixed;
  /* margin-top: 10px; */
  z-index: 999;
  width: 100%;
}



.divimagetext {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 99999;
}


.divforpdf {
    margin-top: 20px;
    /* padding: 0px 4px 0px 0px; */
    margin-left: 20px;
}


.product_inner_second_bg {
  margin-top: 50px;
  overflow: scroll;
}



img.pdfbutton {
  /* border: 1px solid; */
  background: linear-gradient(45deg, rgba(96, 27, 20, 1) 18%, rgba(150, 37, 30, 1) 65%, rgba(169, 47, 31, 1) 100%);
  padding: 7px;
  border-radius: 10px;
}
h6.pdfheading {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  font-family: SST;
  margin-bottom: 9px;
}
swiper-container.swiper_slider {
  text-align: center;
}
p.slidericontext {
 
  font-size: 10px;
  margin-top: 6px;
  font-weight: 500;
  font-family: SST;
  color: black;
}


.white_border {
  border: 1px solid #ffffffa6;
  margin-bottom: 12px;
}


.divforpdf2 {
 
  margin-left: 20px;
}

.videobutton{
  background: linear-gradient(45deg, rgba(1,139,58,1) 18%, rgba(100,172,79,1) 65%, rgba(164,208,150,1) 100%);
  padding: 7px;
  border-radius: 10px;
}




.product_inner_banner {
  text-align: center;
}

// new badge design 

.new-badge {
    background-color: #28a745;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.8em;
    
   
}


.pdfnewdiv {
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}