<ion-content class="dark light">
  <div class="main-div">
    <div class="upper-bg"></div>
    <div class="second-bg">
      <div class="from-padding">
        <ion-content class="ion-padding form-content">
          <div class="forbg">
            <div class="header-container">
              <ion-icon name="chevron-back-outline" class="arrow-icon" (click)="navigateBack()"></ion-icon>
              <h1 class="header-title">Forgot Password?</h1>
            </div>
            <div class="header-underline"></div>
            <ion-list>
              <ion-item class="custom-input-item">
                <ion-label position="stacked" class="labels">Email Address</ion-label>
                <ion-input placeholder="Email Address" type="email" class="fieldss" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-button expand="full" class="tick" (click)="resetPassword()">Reset Password</ion-button>
            </ion-list>
          </div>
        </ion-content>

      </div>
      <div class="lockimage">
        <img src="assets/icon/forgot-password.png" alt="">
      </div>
      <div class="footer-overlay">
        <div class="overlay-text">
          <p class="terms"><a (click)="openTerms()" class="no-underline">Terms & Conditions</a> |
            <a (click)="openPrivacyPolicy()" class="no-underline">Privacy Policy</a>
          </p>
          <p class="copyright">© {{ currentYear }} Sony Middle East and Africa FZE</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Alert Popup -->
  <div class="custom-alert" *ngIf="showAlert">
    <div class="alert-wrapper">
      <div class="alert-head">
        <h2 id="alert-1-hdr">{{ alertTitle }}</h2>
      </div>
      <div class="alert-message">
        <p>{{ alertMessage }}</p>
      </div>
      <div class="alert-button-group">
        <button class="alert-button" (click)="closeAlert()">{{ alertButtonText }}</button>
      </div>
    </div>
  </div>
</ion-content>