.upper-bg {
    background-color: #00000000;
    width: 100%;
    height: 16%;
    position: relative;
  }
  
  .main-div {
    height: 100%;
    width: 100%;
    // background: url(../../../assets/icon/mine.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
  
  .second-bg {
    width: 100%; 
    height: 86%;
  }
  
  .from-padding {
    width: 100%;
    height: 250px;
    padding: 0px 12px;
    margin-top: -66px;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .arrow-icon {
    margin-right: 8px;
  }
  
  ion-item {
    --highlight-color-focused: #4B54CF; 
    --min-height: 50px; 
    --border-color: transparent;
    --padding-start: 0px;
  }
  
  ion-label {
    font-weight: 500; 
  }
  
  ion-input {
    --padding-start: 8px; 
    --padding-end: 8px;
  }
  
  .custom-input-item {
    ion-input {
        border: 1px solid #d1d1d1; 
        border-radius: 4px; 
        margin-top: 6px; 
        margin-bottom: 6px;
    }
  
    ion-label {
        font-weight: 500; 
        font-family: SST;
        font-size: 14px;
        margin-bottom: 0px;
    }
  }
  
  .header-title {
    font-size: 18px;

 
  }
  
  .header-underline {
    border-top: 1px dotted #d1d1d1; 
    margin-top: 4px; 
  }
  
  .form-content {
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .tick {
    font-size: 13px;
    width: 94%;
    border-radius: 3px;
    font-weight: 500;
    --background: radial-gradient(circle, rgba(70, 151, 244, 1) 0%, rgba(20, 81, 165, 1) 100%);
    font-family: SST;
  }
  
  .lockimage {
    text-align: center;
    margin-top: 60px;
  }
  
  .footer-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-top: 74px;
  }
  
  .overlay-text {
    text-align: center;
    margin-bottom: 26px;
  }
  
  .terms {
    font-size: 10px !important;
    color: #4b54cf;
    font-family: SST;
    font-weight: bold;
  }
  
  .copyright {
    margin: 5px 0;
    font-size: 11px;
    color: #000000;
    font-weight: 400;
    font-family: SST;
  }
  
  /* Custom Alert Styles */
  .custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .alert-wrapper {
    background-color: white;
    border-radius: 10px;
    max-width: 300px;
    width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .alert-head {
       /* background-color: #4B54CF; */
       color: black;
       padding: 15px;
       text-align: center;
       font-family: SST;
  }
  h2#alert-1-hdr {
    font-weight: 400;
  }
  
  .alert-message {
    padding: 0px 40px 0px 40px;
    font-size: 14px;
    color: #333;
    text-align: center;
    /* border-bottom: 2px dashed #ffe5b0; */
    /* border-style: dashed; */
    font-family: SST;
    font-weight: 400;
    
  }
  
  .alert-button-group {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
    margin-top: 33px;
    border-top: 2px dashed #ffe5b0;
  }
  
  .alert-button {
    background-color: #4b54cf00;
    color: black;
    /* border: none; */
    /* border-radius: 5px; */
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: SST;
    font-size: 18px;
  }
  
  .alert-button:hover {
    background-color: #3a4a9e;
  }