<ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid>
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <ion-icon
              name="chevron-back-outline"
              class="back-button"
              [routerLink]="['/home']"
            ></ion-icon>
          </a>
        </ion-col>

        <ion-col size="4" class="toolbar-col second_col_img">
          <img
            src="/assets/icon/homeicons/sony_light.svg"
            alt=""
            class="SONY_mail_logo dark_pta"
          />
          <img
            src="/assets/icon/homeicons/sony_dark.svg"
            alt=""
            class="SONY_mail_logo light_pta"
          />
        </ion-col>

        <ion-col size="4" class="toolbar-col"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content dark light">
  <div class="heading-div">
    <h6 class="home-headings">Attendance</h6>

    <p *ngIf="!isCheckedIn; else checkedInText">
      (You are currently checked out)
    </p>
    <ng-template #checkedInText>
      <p>(You are currently checked in)</p>
    </ng-template>

    <!-- Buttons: always visible, enabled/disabled by getters -->
    <div class="examtype-buttons" *ngIf="!showForm">
      <ion-button
        expand="full"
        class="products_buttons"
        [disabled]="disableCheckIn"
        [ngClass]="{ 'button-disabled': disableCheckIn }"
        (click)="onCheckIn()"
      >
        <ion-spinner *ngIf="isProcessing && processingAction === 'checkin'" slot="start"></ion-spinner>
        Check In
      </ion-button>

     <ion-button
  expand="full"
  class="products_buttons"
  [disabled]="disableCheckOut"
  (click)="submitAttendance()"
>
  <ion-spinner *ngIf="isProcessing && processingAction === 'checkout'" slot="start"></ion-spinner>
  Check Out
</ion-button>
    </div>

<!-- WEEKLY ATTENDANCE -->
<div class="weekly-header">
  <h6>Weekly Attendance</h6>
</div>

<!-- Table Header -->
<div class="table-row header">
  <div class="cell">Date</div>
  <div class="cell">Day</div>
  <div class="cell">Check In</div>
  <div class="cell">Check Out</div>
  <div class="cell">Duration</div>
</div>

<!-- Table Rows -->
<div class="table-row" *ngFor="let row of weeklyData ?? []">
  <div class="cell">{{ row.date }}</div>
  <div class="cell">{{ row.day }}</div>
  <div class="cell">{{ row.checkin_time || '-' }}</div>
  <div class="cell">{{ row.checkout_time || '-' }}</div>

  <!-- Duration -->
  <div 
    class="cell duration-cell"
    [ngClass]="{ 'red-text': row?.working_hours?.minutes < 480 }"
  >
    {{ row?.working_hours?.hrs || '-' }}
  </div>
</div>



  </div>
</ion-content>

<app-footer></app-footer>
