.tooltip-content {
    padding: 8px;
    font-size: 14px;
    // background-color: rgba(0, 0, 0, 0.8);
    color: #000;
    border-radius: 8px;
    max-width: 200px; /* Limit the width if desired */
  }
  