<ion-content [fullscreen]="true">
  <div class="container-fluid xyz">
    <div class="title-container ion-padding-top">
      <ion-text class="title-text">
        <h1>Make a Selection!</h1>
      </ion-text>
    </div>

    <div class="button-container">
      <ion-button expand="full" class="ion-padding custm_btn" fill="clear" (click)="navigateToPTA()">
        Promotor Tool
      </ion-button>
      <ion-button expand="full" class="ion-padding custm_btn" fill="clear" (click)="navigateToHappy()">
        Happy Project
      </ion-button>
    </div>
  </div>
</ion-content>