<!-- <ion-item button (click)="openModal()">
  <ion-label>Custom dropdown title</ion-label>
  <ion-text slot="end">{{ getDisplayValue() }}</ion-text>
  <ion-icon name="chevron-down" slot="end" class="select-icon down-arrow"></ion-icon>
</ion-item> -->

<ion-item button (click)="openModal()">
  <!-- <ion-label>{{ getDisplayValue() }}</ion-label>  -->
  <ion-text slot="end">{{ getDisplayValue() }}</ion-text>
  <ion-icon name="chevron-down" slot="end" class="select-icon down-arrow"></ion-icon>
</ion-item>