<!-- 

<ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid>
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <ion-icon name="chevron-back-outline" class="back-button" [routerLink]="['/home']"></ion-icon>
          </a>
        </ion-col>
        <ion-col size="4" class="toolbar-col second_col_img">
          <img src="\assets\icon\homeicons\SONY_logo_main.svg" alt="" class="SONY_mail_logo">
        </ion-col>
        <ion-col size="4" class="toolbar-col"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content">
  <div class="heading-div">
    <h6 class="home-headings">Settings</h6>
    <div class="examtype-buttons">
      <ion-button expand="full" class="products_buttons" (click)="navigateToChangePassword()">
        <span class="button_span_text">Change Password</span>
      </ion-button>
    </div>

      <ion-item class="language-selection-item" lines="none" style="width: 100%; max-width: 400px; margin-bottom: 20px;">
      <ion-select label="Select Your Language" placeholder="Choose Language" class="language-select-field"
        [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event)">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="ar">Arabic</ion-select-option>
        <ion-select-option value="fr">French</ion-select-option>
        <ion-select-option value="ru">Russian</ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down" class="language-select-icon"></ion-icon>
    </ion-item>
  </div>
</ion-content>

<app-footer></app-footer> -->


<ion-header [translucent]="true" class="custom-border-header">
  <ion-toolbar class="maincontainer">
    <ion-grid>
      <ion-row class="toolbar-row">
        <ion-col size="4" class="toolbar-col">
          <a href="#" class="back_link">
            <!-- <ion-icon name="chevron-back-outline" class="back-button" [routerLink]="['/home']"></ion-icon> -->
          </a>
        </ion-col>
        <ion-col size="4" class="toolbar-col second_col_img">
          <img src="\assets\icon\homeicons\sony_light.svg" alt="" class="SONY_mail_logo dark_pta">
          <img src="\assets\icon\homeicons\sony_dark.svg" alt="" class="SONY_mail_logo light_pta">
        </ion-col>
        <ion-col size="4" class="toolbar-col"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="main-content dark light">
  <div class="heading-div">
    <h6 class="home-headings">Settings</h6>
    <div class="examtype-buttons">
      <ion-button expand="full" class="products_buttons" (click)="navigateToChangePassword()">
        <span class="button_span_text">Change Password</span>
      </ion-button>
    </div>
    
    <!-- Language Selection -->
    <!-- <div *ngIf="usertype !== '2'"> -->
      <div>
      <ion-item class="language-selection-item" lines="none" style="width: 100%; max-width: 400px; margin-bottom: 20px;">
        <ion-select label="Select Your Language" placeholder="Choose Language" class="language-select-field"
          [(ngModel)]="selectedLanguage" (ionChange)="setLanguage($event)">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="ar">Arabic</ion-select-option>
          <ion-select-option value="fr">French</ion-select-option>
          <ion-select-option value="ru">Russian</ion-select-option>
        </ion-select>
        <ion-icon name="chevron-down" class="language-select-icon"></ion-icon>
      </ion-item>
    </div>
  </div>

  <!-- <ion-button class="back-button-bottom-right" color="dark" [routerLink]="['/home']">
    <ion-icon name="chevron-back-outline"></ion-icon>
  </ion-button> -->
</ion-content>

<app-footer></app-footer>
